<div class="container">
    <div class="column is-2 tanya">
        <div class="compose has-text-centered ">
                <%= link_to 'Ask Question', new_forum_path, :class => "button is-black is-block is-bold" %>
        </div>
    </div>

    <% @forums.each do |forum| %>
        <div class="card forum">
            <header class="card-header">
                <p class="card-header-title"> <% forum.title %> </p>
            </header>

            <div class="card-content">
                <div class="content">
                    <% forum.question %>
                </div>
                <br>
                <%= image_tag('comment.png',  width: 20) %>
                <%= image_tag('share.png', width: 20 ) %>
            </div>
        </div>
    <% end %>
</div>