<div class="container">
    <% @repos.each do |repo| %>
    <div class="card index">
        <div class="card-content">
            <div class="content">
              <h7 class="title is-6"><%= link_to repo.judul, repo %></h7>
              <br>
              <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
    </div>
    <% end %>
</div>


