.form-login {
  width: 450px;
  height: 280px;
  margin-left: 350px;
  margin-top: 50px;
}

.form {
  margin-left: 20px;
}

.logo {
  text-align: center;
}

.tombol {
  margin-left: 80px;
  
}

.tombol1 {
  margin-top: 70px;
}